header { 
  width: 100vw;
  height: 100px;

  border: 1px solid black;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: lightcoral;
  
  z-index: 1;
}
header h1 {
  font-size: 28px;
  font-weight: bold;
  color: white;
}
nav ul {
  display: flex;
}
nav ul li button {
  padding: 0.7rem;
  margin: 0 0.5rem;

  background: none;

  border: 2px solid blanchedalmond;
  border-radius: 10px;

  color: white;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
}
nav ul li button:hover {
  box-shadow: 0 .1rem .7rem rgba(0, 0, 0, .3);
}

footer {
  width: 100vw;
  height: 100px;

  border : 1px solid black;

  background: lightcoral;
}